/* 장바구니 버튼 */
.fixed-cart {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 100000000;

  &:hover {
    .cart-panel {
      right: 0;
      z-index: 15;
    }

    .cart-btn {
      right: -100%;
    }
  }

  .cart-panel {
    width: auto;
    height: 50px;
    background: $c-white;
    color: $c-main;
    border: 2px solid $c-main;
    border-right: none;
    display: flex;
    align-items: center;
    padding: $sp-10;
    position: absolute;
    right: -150px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;

    transition: $tr-f ease;

    .cart-text {
      font-size: 14px;
      font-weight: bold;
      white-space: nowrap;
    }
  }

  .cart-btn {
    width: 50px;
    height: 50px;
    background: $c-main;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px 0 0 10px;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: $tr-r;

    i {
      color: $c-white;
    }
  }
}




/* 탑버튼 */

.top-btn-wrap {
  position: fixed;
  right: 40px;
  bottom: 100px;
  z-index: 100000000;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  &:hover .top-btn-img {
    transform: translate(-50%, -15px);
  }
}

.top-btn-img {
  @include tobtn-img;
}

.top-btn {
  z-index: 10;
  position: relative;

  button {
    @include topbtn($c-main);

  }
}