@import 'variables', 'mixins', 'reset', 'fonts', 'header', 'footer', 'common';

body {
  font-family: $ff-suit;
  color: $c-text-main;
}

// 메인 비주얼
.sub-page-main-visual {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
  margin-top: 60px;
  // 충돌방지
  padding-top: 1px;
  opacity: 0;
  transform: scale(1.03);
  clip-path: circle(0% at 50% 50%);
  animation-name: reveal;
  animation-duration: 1.1s;
  animation-timing-function: $ease-default;
  animation-delay: 0.8s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  position: sticky;
  top: 0;
  z-index: 1;

  &-01 {
    background: url(../images/sub1/sub1-main-visual-bg.png) no-repeat center / cover;
  }

  .sub-page-mv-title-wrap {
    @include flex-center;
    flex-direction: column;
    gap: $sp-30;
    margin-top: 300px;

    .sub-page-big-title {

      .big-title-img-tablet,
      .big-title-img-mb {
        display: none;
      }
    }

    p {
      font-size: 48px;
      font-weight: $fw-b;
      color: $c-white;
    }
  }

  .sub-page-scroll-btn-wrap {
    @include flex-center;
    flex-direction: column;
    gap: $sp-5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    animation: sparkle;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    .sub-page-scroll-text {
      font-family: $ff-kanit;
      font-size: $fs-20;
      font-weight: $fw-r;
      color: $c-white;
    }
  }
}

@keyframes sparkle {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(1.03);
    clip-path: circle(0% at 50% 50%);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    clip-path: circle(150% at 50% 50%);
  }
}

// 콘텐츠 올라오는 거
.sub-whole-content-container {
  // 헤더 길이만큼 + 간격 너비만큼
  padding-top: 210px;
  position: relative;
  z-index: 2;
  border-radius: 200px 200px 0 0;
  transform: translateY(80px);
  transition: transform 800ms ease;
  background: $c-white;

  &.is-active {
    transform: translateY(0);
  }

  .sub-content-wrap {
    @include inner($inner-main);
  }
}

// 탭메뉴
.sub-page-tab-menu {
  @include flex-center;
  gap: $sp-100;
  margin-bottom: 150px;
  cursor: pointer;

  .sub-page-tab-btn {
    @include flex-center;
    flex-direction: column;
    gap: 15px;

    &:hover .sub-page-tab-btn-bar {
      background: $c-main;
    }

    &-icon {
      width: 66px;
      height: 66px;
      border-radius: $r-sm;
    }

    &-text {
      margin-bottom: 5px;
      font-weight: $fw-b;
      font-size: $fs-20;
    }

    &-bar {
      width: 190px;
      height: 10px;
      border-radius: 50px;
      background: #d9d9d9;
      transition: $tr-r;

      &.active {
        background: $c-main;
      }
    }

    &:nth-child(1) {
      .sub-page-tab-btn-icon {
        background: url(../images/sub1/sub1-tab-btn1.png) no-repeat center / cover;
      }
    }

    &:nth-child(2) {
      .sub-page-tab-btn-icon {
        background: url(../images/sub1/sub1-tab-btn2.png) no-repeat center / cover;
      }
    }

    &:nth-child(3) {
      .sub-page-tab-btn-icon {
        background: url(../images/sub1/sub1-tab-btn3.png) no-repeat center / cover;
      }
    }

    &:nth-child(4) {
      .sub-page-tab-btn-icon {
        background: url(../images/sub1/sub1-tab-btn4.png) no-repeat center / cover;
      }
    }
  }
}

/* ==================
  탭 클릭하면 바뀌는거
====================*/
/* 모든 탭 콘텐츠 기본 숨김 */
.sub-page-tab-menu-wrap>section {
  display: none;
}

/* active만 표시 */
.sub-page-tab-menu-wrap>section.active {
  display: block;
}

// 타이틀
.sub1-title-wrap {
  text-align: center;
  margin-bottom: $sp-100;

  .sub1-title-ko {
    @include sub-title-ko;
  }

  .sub1-title-en {
    @include sub-title-en;
    color: $c-main;
  }
}

// page1
.sub1-page1-content {
  .sub1-page1-earth {
    width: 100%;
    height: 1020px;
    background: url(../images/sub1/sub1-page1-earth.png) no-repeat center / cover;
  }

  .sub1-page1-banner {
    width: 100%;
    height: 550px;
    background: url(../images/sub1/sub1-page1-banner.png) no-repeat center / cover;
    display: flex;
    align-items: center;

    strong {
      font-size: 80px;
      font-weight: 900;
      line-height: 1.2;

      span {
        color: $c-main;
      }
    }
  }

  .inner {
    @include inner($inner-main);

    .sub1-page1-top-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: $sp-100;
      margin-bottom: 300px;

      .sub1-page1-top-card {
        display: flex;
        align-items: center;
        gap: $sp-40;

        &-text-wrap {
          flex: 1;

          .sub1-page1-top-card-title-wrap {
            display: flex;
            align-items: center;
            gap: $sp-10;
            margin-bottom: $sp-50;

            .sub1-page1-top-card-title-en {
              font-family: $ff-kanit;
              font-size: $fs-60;
              font-weight: $fw-md;
              color: $c-main;
            }

            .sub1-page1-top-card-title-ko {
              font-size: $fs-28;
              font-weight: $fw-b;
              color: $c-gray55;
            }
          }

          .sub1-page1-top-card-desc {
            @include text($fs-28, $fw-semi-b, $c-text-main);
          }
        }

        &-img {
          width: 750px;
          height: 400px;
          border-radius: $r-md;
        }

        &:nth-child(1) .sub1-page1-top-card-img {
          background: url(../images/sub1/sub1-page1-consumer.png) no-repeat center / cover;
        }

        &:nth-child(2) .sub1-page1-top-card-img {
          background: url(../images/sub1/sub1-page1-supply.png) no-repeat center / cover;
        }

        &:nth-child(3) .sub1-page1-top-card-img {
          background: url(../images/sub1/sub1-page1-employees.png) no-repeat center / cover;
        }

        &:nth-child(4) .sub1-page1-top-card-img {
          background: url(../images/sub1/sub1-page1-environment.png) no-repeat center / cover;
        }

        &:nth-child(2n) {
          flex-direction: row-reverse;
        }
      }
    }

    .sub1-page1-bottom-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: $sp-50;
      margin-top: $sp-100;
      margin-bottom: 150px;

      .sub1-page1-bottom-card {
        @include flex-center;
        gap: $sp-40;

        .sub1-page1-bottom-card-img-wrap {
          .mario-img {
            height: 59px;
          }

          .one-mario {
            width: 50px;
            background: url(../images/sub1/sub1-page1-mario-one.png) no-repeat center / cover;
          }

          .two-mario {
            width: 110px;
            background: url(../images/sub1/sub1-page1-mario-two.png) no-repeat center / cover;
          }

          .three-mario {
            width: 170px;
            background: url(../images/sub1/sub1-page1-mario-three.png) no-repeat center / cover;
          }

          .sub1-page1-bottom-card-img {
            width: 530px;
            height: 410px;
            border-radius: $r-md;
          }
        }

        &:nth-child(1) .sub1-page1-bottom-card-img {
          background: url(../images/sub1/sub1-page1-bottom-card1.png) no-repeat center / cover;
        }

        &:nth-child(2) .sub1-page1-bottom-card-img {
          background: url(../images/sub1/sub1-page1-bottom-card2.png) no-repeat center / cover;
        }

        &:nth-child(3) .sub1-page1-bottom-card-img {
          background: url(../images/sub1/sub1-page1-bottom-card3.png) no-repeat center / cover;
        }

        .sub1-page1-bottom-card-text {
          flex: 1;
          @include text($fs-32, $fw-semi-b, $c-text-main);

          span {
            color: $c-main;
          }
        }
      }
    }

    .subBottomSlide {
      display: none;
    }
  }
}

// page2
.sub1-page2-content {
  .sub1-page2-slide-wrap {
    width: 100%;
    height: calc(100vh - 60px);
    margin-bottom: 150px;

    .inner {
      @include inner($inner-main);

      .sub1-title-wrap {
        margin-bottom: $sp-100;
      }

      .sub1-page2-slide-content-wrap {
        display: flex;
        align-items: center;
        gap: $sp-40;

        .slide-pagenation {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: $sp-15;

          span {
            width: 15px;
            height: 15px;
            border-radius: $r-full;
            background: #d9d9d9;
          }

          .active {
            width: 45px;
            height: 43px;
            background: url(../images/sub1/sub1-page2-slide-pagenation-active.png) no-repeat center / cover;
            border-radius: 0;
          }
        }

        .slide-stage {
          position: relative;
          flex: 1;
          min-height: 601px;

          .sub1-page2-slide-content-box {
            display: flex;
            align-items: center;
            gap: $sp-20;
            opacity: 0;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            transition: opacity $tr-s $ease-default;

            &.active {
              opacity: 1;
            }

            .slide-img {
              width: 555px;
              height: 601px;
              border-radius: $r-md;
            }

            &:nth-child(1) .slide-img {
              background: url(../images/sub1/sub1-page2-slide1.png) no-repeat center / cover;
            }

            &:nth-child(2) .slide-img {
              background: url(../images/sub1/sub1-page2-slide2.png) no-repeat center / cover;
            }

            &:nth-child(3) .slide-img {
              background: url(../images/sub1/sub1-page2-slide3.png) no-repeat center / cover;
            }

            &:nth-child(4) .slide-img {
              background: url(../images/sub1/sub1-page2-slide4.png) no-repeat center / cover;
            }

            &:nth-child(5) .slide-img {
              background: url(../images/sub1/sub1-page2-slide5.png) no-repeat center / cover;
            }

            .slide-text-wrap {
              flex: 1;
              position: relative;

              img {
                position: absolute;
                left: 0;
                top: -120px;
                z-index: -1;
              }

              .slide-text {
                @include text($fs-28, $fw-b, $c-text-main);
                margin-bottom: $sp-50;
              }

              .slide-box-text-wrap {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: $sp-10;

                .slide-box-text {
                  height: 50px;
                  padding: 0 30px;
                  border-radius: $r-xl;
                  border: 3px solid $c-main;
                  font-size: $fs-20;
                  font-weight: $fw-semi-b;
                  color: $c-main;
                  @include flex-center;
                }
              }
            }
          }
        }
      }
    }
  }

  .sub1-page2-responsive-wrap {
    display: none;
  }
}

// page3
.sub1-page3-content {
  .inner {
    @include inner($inner-main);

    .sub1-page3-big-title {
      @include text($fs: 80px, $fw: 900, $color: $c-text-main);
      margin-bottom: $sp-100;
      text-align: center;

      span {
        color: $c-main;
      }
    }

    .since-text {
      font-size: $fs-40;
      font-weight: $fw-semi-b;
      margin-bottom: $sp-50;
      font-family: $ff-kanit;
      text-align: center;
    }

    .to-text {
      font-size: $fs-60;
      font-weight: $fw-b;
      margin-bottom: $sp-100;
      font-family: $ff-kanit;
      text-align: center;

      span {
        color: $c-main;
      }
    }

    .circle-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      margin-bottom: 150px;

      .circle {
        border-radius: $r-full;
        background: $c-main;
        animation-name: dot-blink;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;

        &1 {
          width: 45px;
          height: 45px;
          animation-delay: 0s;
        }

        &2 {
          width: 35px;
          height: 35px;
          opacity: 0.8;
          animation-delay: 0.3s;
        }

        &3 {
          width: 25px;
          height: 25px;
          opacity: 0.6;
          animation-delay: 0.6s;
        }

        &4 {
          width: 20px;
          height: 20px;
          opacity: 0.4;
          animation-delay: 0.9s;
        }

        &5 {
          width: 15px;
          height: 15px;
          opacity: 0.2;
          animation-delay: 1.2s;
        }
      }
    }

    .sub1-page3-card-wrap {
      display: flex;
      flex-direction: column;
      gap: $sp-50;
      margin-bottom: 150px;

      .sub1-page3-card {
        display: flex;
        align-items: center;
        gap: $sp-20;

        &-even {
          flex-direction: row-reverse;
        }

        .card-text-wrap {
          width: 920px;

          .card-date {
            color: $c-main;
            font-size: $fs-28;
            font-weight: $fw-extra-b;
          }

          .card-title {
            color: $c-text-main;
            font-size: $fs-36;
            font-weight: $fw-extra-b;
          }

          .card-desc {
            @include text($fs-28, $fw-semi-b, $c-text-main);
          }
        }
      }

      .dots-img {
        display: flex;
        justify-content: center;
        align-items: center;

        .dots,
        .dots-reverse {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}

@keyframes dot-blink {
  0% {
    opacity: 0.2;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.2;
  }
}

// page4
.sub1-page4-content {
  .inner {
    @include inner($inner-main);

    .location-img {
      width: 100%;
      height: 762px;
      position: relative;
      background: url(../images/sub1/sub1-page4-map.png) no-repeat center / cover;
      margin-bottom: $sp-100;

      .location-text {
        @include text($fs: $fs-32, $fw: 900, $color: $c-text-main);
        position: absolute;

        span {
          color: $c-main;
        }
      }

      .location-left {
        left: $sp-100;
        top: $sp-100;
      }

      .location-right {
        right: $sp-100;
        bottom: $sp-100;
      }

      .location-spot {
        position: absolute;
        left: 54%;
        top: 36%;
        animation: sparkle;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }

    .location-wrap {
      display: flex;
      gap: $sp-40;
      margin-bottom: $sp-section;

      .location-iframe {
        border-radius: $r-md;
        width: 750px;
        height: 500px;
        overflow: hidden;

        iframe {
          width: 100%;
          height: 100%;
        }
      }

      .location-info-container {
        margin-top: $sp-40;
        display: flex;
        flex-direction: column;
        gap: $sp-40;

        .location-info-wrap {
          .location-info-title {
            @include between-icon-text($sp-5);
            margin-bottom: $sp-10;

            .location-info-icon {
              width: 30px;
              height: 30px;

              &1 {
                background: url(../images/sub1/sub1-page4-icon1.png) no-repeat center / cover;
              }

              &2 {
                background: url(../images/sub1/sub1-page4-icon2.png) no-repeat center / cover;
              }

              &3 {
                background: url(../images/sub1/sub1-page4-icon3.png) no-repeat center / cover;
              }
            }

            .location-info-title-text {
              font-size: $fs-28;
              font-weight: $fw-b;
              color: $c-text-main;
            }
          }

          .location-info-desc {
            @include text($fs-24, $fw-semi-b, $c-text-main);
          }
        }
      }
    }
  }
}