@charset "UTF-8";
/* 폰트 패밀리 */
/* 폰트 사이즈 */
/* 폰트 두께 */
/* 행간 */
/* border + 컬러 붙여서 써야 함 */
/* border-radius */
/* border-color */
/* 그림자 */
/* 서브 캐릭터 페이지 설명 박스 글래스모피즘 효과 */
/* 컬러 */
/* 간격 */
/* break-point */
/* 트랜지션 */
/* 이너 */
/* 캐릭터 이름 흰색으로 바꾸기 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: inherit;
}

input, textarea, select {
  border: none;
  font-family: inherit;
  outline: none;
}

li {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Bootstrap icons */
/* Web fonts */
/* kanit */
/* 수트 */
/* mbc굴림 - 메인페이지 캐릭터 글씨 */
@font-face {
  font-family: "Mbc1961GLM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
.header {
  width: 100%;
  height: 60px;
  padding: 0 65px;
  font-family: "Suit", sans-serif;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: 99999999999;
  top: 0;
  transition: 0.3s;
  transform: translateY(0);
}
.header.is-hidden {
  transform: translateY(-100%);
}
.header.active {
  background: #E60012;
}
.header.active .logo {
  filter: brightness(0) invert(1);
}
.header.active .header-click-wrap .gnb .main-menu a {
  color: #FFFFFF;
}
.header.active .header-click-wrap .gnb .main-menu a::after {
  background: #FFFFFF;
}
.header.active .utility .header-search-section .search-icon {
  filter: brightness(0) invert(1);
}
.header.active .utility .header-search-section .search-text {
  color: #FFFFFF;
}
.header.active .utility .header-cart {
  filter: brightness(0) invert(1);
}
.header.active .utility .header-login-section {
  border: 2px solid #FFFFFF;
}
.header.active .utility .header-login-section .login-icon {
  filter: brightness(0) invert(1);
}
.header.active .utility .header-login-section .login-text {
  color: #FFFFFF;
}
.header nav {
  height: inherit;
  display: flex;
  align-items: center;
  gap: 65px;
}
.header nav .logo {
  width: 117px;
  height: 31px;
  background: url(../images/common/header-logo.svg) no-repeat center/cover;
}
.header nav .header-click-wrap {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header nav .header-click-wrap .gnb {
  display: flex;
  align-items: center;
  gap: 60px;
  height: 100%;
}
.header nav .header-click-wrap .gnb .main-menu {
  height: 100%;
}
.header nav .header-click-wrap .gnb .main-menu a {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  font-family: "Suit", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header nav .header-click-wrap .gnb .main-menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  border-radius: 15px;
  background: #E60012;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  transition: 0.3s;
}
.header nav .header-click-wrap .gnb .main-menu a:hover::after {
  width: 120%;
}
.header nav .header-click-wrap .gnb .main-menu.active a::after {
  width: 120%;
}
.header nav .utility {
  gap: 20px;
  display: flex;
  align-items: center;
}
.header nav .utility .header-search-section {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.header nav .utility .header-search-section .search-icon {
  width: 22px;
  height: 24px;
  background: url(../images/common/header-search.svg) no-repeat center/contain;
}
.header nav .utility .header-search-section .search-text {
  color: #333333;
}
.header nav .utility .header-cart {
  width: 25px;
  height: 25px;
  background: url(../images/common/header-cart.svg) no-repeat center/contain;
}
.header nav .utility .header-login-section {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #E60012;
  border-radius: 20px;
  padding: 5px 20px;
}
.header nav .utility .header-login-section .login-icon {
  width: 22px;
  height: 22px;
  background: url(../images/common/header-login.svg) no-repeat center/contain;
}
.header nav .utility .header-login-section .login-text {
  color: #E60012;
}
.header nav .utility .header-kr {
  width: 36px;
  height: 24px;
  background: url(../images/common/header-kr.svg) no-repeat center/contain;
}

.sub-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: #f8f8f8;
  max-height: 0;
  padding: 0 65px;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  z-index: 999998;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.sub-nav-container.active {
  max-height: 300px;
  padding: 20px 65px;
}
.sub-nav-container .sub-nav-title-wrap {
  border: 1px solid orange;
  display: flex;
  align-items: center;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  background: #E60012;
}
.sub-nav-container .sub-nav-title-wrap .sub-nav-title-icon {
  width: 81px;
  height: 81px;
}
.sub-nav-container .sub-nav-title-wrap .sub-nav-title-icon-kr {
  background: url(../images/common/sub-nav-title-icon-kr.png) no-repeat center/cover;
}
.sub-nav-container .sub-nav-title-wrap .sub-nav-title-icon-hw {
  background: url(../images/common/sub-nav-title-icon-hw.png) no-repeat center/cover;
}
.sub-nav-container .sub-nav-title-wrap .sub-nav-title-icon-sw {
  background: url(../images/common/sub-nav-title-icon-sw.png) no-repeat center/cover;
}
.sub-nav-container .sub-nav-title-wrap .sub-nav-title-icon-sp {
  background: url(../images/common/sub-nav-title-icon-sp.png) no-repeat center/cover;
}
.sub-nav-container .sub-nav-title-wrap h2 {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #FFFFFF;
}
.sub-nav-container .sub-nav-lnb-wrap {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.sub-nav-container .sub-nav-lnb-wrap .sub-nav-lnb {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
  padding-left: 60px;
  border-radius: 50px;
  border: 1px solid rgba(153, 153, 153, 0.6);
  background: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.sub-nav-container .sub-nav-lnb-wrap .sub-nav-lnb .sub-nav-icon {
  width: 53px;
  height: 53px;
  border-radius: 10px;
}
.sub-nav-container .sub-nav-lnb-wrap .sub-nav-lnb .sub-nav-text {
  font-family: "Suit", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  transition: 0.3s ease-in-out;
}
.sub-nav-container .sub-nav-lnb-wrap .sub-nav-lnb:hover {
  border: 1px solid rgba(230, 0, 18, 0.6);
}
.sub-nav-container .sub-nav-lnb-wrap .sub-nav-lnb:hover .sub-nav-text {
  color: #E60012;
}

#navKr .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(1) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-kr01.png) no-repeat center/cover;
}
#navKr .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(2) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-kr02.png) no-repeat center/cover;
}
#navKr .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(3) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-kr03.png) no-repeat center/cover;
}
#navKr .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(4) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-kr04.png) no-repeat center/cover;
}

#navHw .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(1) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-switch2.png) no-repeat center/cover;
}
#navHw .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(2) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-switch.png) no-repeat center/cover;
}
#navHw .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(3) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-hw03.png) no-repeat center/cover;
}
#navHw .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(4) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-hw04.png) no-repeat center/cover;
}

#navSw .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(1) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-mario-big.png) no-repeat center/cover;
}
#navSw .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(2) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-modong-big.png) no-repeat center/cover;
}
#navSw .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(3) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-zelda-big.png) no-repeat center/cover;
}
#navSw .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(4) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-kurby-big.png) no-repeat center/cover;
}
#navSw .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(5) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-pikmin-big.png) no-repeat center/cover;
}

#navSp .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(1) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-switch2.png) no-repeat center/cover;
}
#navSp .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(2) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-switch.png) no-repeat center/cover;
}
#navSp .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(3) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-sp03.png) no-repeat center/cover;
}
#navSp .sub-nav-lnb-wrap .sub-nav-lnb:nth-child(4) .sub-nav-icon {
  background: url(../images/common/sub-nav-lnb-icon-sp04.png) no-repeat center/cover;
}

.sub-header {
  width: 100%;
  height: 50px;
  background: #E60012;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
}
.sub-header.active {
  display: flex;
}
.sub-header-home-icon {
  width: 30px;
  height: 30px;
  background: url(../images/common/sub-header-home-icon.png) no-repeat center/cover;
}

.responsive-nav-body {
  width: 90%;
  height: 70px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  margin: 0 auto;
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: none;
}
.responsive-nav-body button,
.responsive-nav-body a {
  width: 48px;
  height: 38px;
  transition: 0.3s;
}
.responsive-nav-body button:hover,
.responsive-nav-body a:hover {
  transform: translateY(-2px);
}
.responsive-nav-body .r-nav-left-wrap {
  display: flex;
  gap: 40px;
}
.responsive-nav-body .r-nav-left-wrap .r-nav-hamburger-btn {
  background: url(../images/common/sub-nav-icon-ham.png) no-repeat bottom/contain;
}
.responsive-nav-body .r-nav-left-wrap .r-nav-hamburger-btn.active {
  background: url(../images/common/sub-nav-icon-ham-down.png) no-repeat bottom/contain;
}
.responsive-nav-body .r-nav-left-wrap .r-nav-home-btn {
  background: url(../images/common/sub-nav-icon-home.png) no-repeat center/contain;
}
.responsive-nav-body .r-nav-center-search {
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  background: #E60012;
  font-size: 32px;
  color: #FFFFFF;
  transform: translateY(-18px);
}
.responsive-nav-body .r-nav-center-search:hover {
  transform: translateY(-20px);
}
.responsive-nav-body .r-nav-right-wrap {
  display: flex;
  gap: 40px;
}
.responsive-nav-body .r-nav-right-wrap .r-nav-cart-btn {
  background: url(../images/common/sub-nav-icon-cart.png) no-repeat center/contain;
}
.responsive-nav-body .r-nav-right-wrap .r-nav-login-btn {
  background: url(../images/common/sub-nav-icon-login.png) no-repeat center/contain;
}

.responsive-nav-container {
  width: 75%;
  max-height: calc(100dvh - 60px - (60px + 70px + 20px));
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  position: fixed;
  bottom: calc(60px + 70px);
  left: 50%;
  transform: translate(-50%, 110%);
  overflow: hidden;
  z-index: 99999;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  display: none;
}
.responsive-nav-container.active {
  transform: translate(-50%, 0);
  opacity: 1;
  pointer-events: auto;
}
.responsive-nav-container .r-nav-container-header {
  width: 100%;
  height: 50px;
  background: #E60012;
  position: relative;
  flex: 0 0 auto;
}
.responsive-nav-container .r-nav-container-header .r-nav-container-logo {
  width: 110px;
  height: 30px;
  background: url(../images/common/header-logo-w.svg) no-repeat center/contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.responsive-nav-container .r-nav-container-header .r-nav-container-close {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FFFFFF;
  color: #E60012;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.responsive-nav-container .r-nav-container-body {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  background: #FFFFFF;
  display: flex;
  font-family: "Suit", sans-serif;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap {
  width: 120px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn.active {
  border: 1px solid #e6e6e6;
  border-right-color: transparent;
  background: #f8f8f8;
  border-radius: 10px 0 0 10px;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn p {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn .r-nav-tab-btn-icon {
  width: 50px;
  height: 45px;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn1 .r-nav-tab-btn-icon {
  width: 50px;
  height: 50px;
  background: url(../images/common/sub-nav-tab-btn01.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn1:hover .r-nav-tab-btn-icon {
  background: url(../images/common/sub-nav-tab-btn01-red.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn1.active .r-nav-tab-btn-icon {
  background: url(../images/common/sub-nav-tab-btn01-red.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn2 .r-nav-tab-btn-icon {
  width: 50px;
  height: 50px;
  background: url(../images/common/sub-nav-tab-btn02.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn2:hover .r-nav-tab-btn-icon {
  background: url(../images/common/sub-nav-tab-btn02-red.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn2.active .r-nav-tab-btn-icon {
  background: url(../images/common/sub-nav-tab-btn02-red.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn3 .r-nav-tab-btn-icon {
  width: 50px;
  height: 50px;
  background: url(../images/common/sub-nav-tab-btn03.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn3:hover .r-nav-tab-btn-icon {
  background: url(../images/common/sub-nav-tab-btn03-red.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn3.active .r-nav-tab-btn-icon {
  background: url(../images/common/sub-nav-tab-btn03-red.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn4 .r-nav-tab-btn-icon {
  width: 50px;
  height: 50px;
  background: url(../images/common/sub-nav-tab-btn04.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn4:hover .r-nav-tab-btn-icon {
  background: url(../images/common/sub-nav-tab-btn04-red.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn4.active .r-nav-tab-btn-icon {
  background: url(../images/common/sub-nav-tab-btn04-red.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn5 .r-nav-tab-btn-icon {
  width: 50px;
  height: 50px;
  background: url(../images/common/sub-nav-tab-btn05.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn5:hover .r-nav-tab-btn-icon {
  background: url(../images/common/sub-nav-tab-btn05-red.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn5.active .r-nav-tab-btn-icon {
  background: url(../images/common/sub-nav-tab-btn05-red.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn6 .r-nav-tab-btn-icon {
  width: 50px;
  height: 50px;
  background: url(../images/common/sub-nav-tab-btn06.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn6:hover .r-nav-tab-btn-icon {
  background: url(../images/common/sub-nav-tab-btn06-red.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn6.active .r-nav-tab-btn-icon {
  background: url(../images/common/sub-nav-tab-btn06-red.png) no-repeat center/contain;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap {
  flex: 1 1 auto;
  padding: 20px 10px;
  min-width: 0;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap.active {
  background: #f8f8f8;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap .r-nav-lnb-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap .r-nav-lnb-wrap li .r-nav-lnb {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 80px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  padding-left: 25px;
  transition: 0.5s;
  background: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap .r-nav-lnb-wrap li .r-nav-lnb .r-nav-lnb-icon {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap .r-nav-lnb-wrap li .r-nav-lnb .r-nav-lnb-text {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom {
  display: none;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(1) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-kr01-small.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(1) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(1) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-kr01-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(1) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(2) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-kr02-small.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(2) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(2) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-kr02-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(2) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(3) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-kr03-small.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(3) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(3) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-kr03-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(3) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(4) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-kr04-small.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(4) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(4) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-kr04-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom li:nth-child(4) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavCom.active {
  display: flex;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro {
  display: none;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(1) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-switch2-small.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(1) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(1) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-switch2-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(1) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(2) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-switch-small.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(2) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(2) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-switch-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(2) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(3) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-hw03-small.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(3) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(3) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-hw03-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(3) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(4) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-hw04.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(4) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(4) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-hw04-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro li:nth-child(4) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavPro.active {
  display: flex;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw {
  display: none;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(1) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-mario-r.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(1) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(1) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-mario-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(1) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(2) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-modong-r.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(2) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(2) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-modong-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(2) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(3) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-zelda-r.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(3) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(3) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-zelda-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(3) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(4) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-kurby-r.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(4) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(4) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-kurby-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(4) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(5) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-pikmin-r.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(5) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(5) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sw-pikmin-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw li:nth-child(5) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSw.active {
  display: flex;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup {
  display: none;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(1) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-switch2-small.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(1) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(1) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-switch2-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(1) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(2) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-switch-small.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(2) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(2) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-switch-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(2) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(3) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sp03-small.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(3) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(3) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sp03-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(3) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(4) .r-nav-lnb .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sp04-small.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(4) .r-nav-lnb:hover {
  background: #E60012;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(4) .r-nav-lnb:hover .r-nav-lnb-icon {
  background: url(../images/common/sub-nav-lnb-icon-sp04-w.png) no-repeat center/cover;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup li:nth-child(4) .r-nav-lnb:hover .r-nav-lnb-text {
  color: #FFFFFF;
}
.responsive-nav-container .r-nav-container-body .r-nav-content-wrap #rNavSup.active {
  display: flex;
}

@media (max-width: 1024px) {
  .header {
    height: 50px;
    background: #E60012;
  }
  .header nav {
    justify-content: center;
  }
  .header nav .logo {
    width: 143px;
    height: 35px;
    background: url(../images/common/header-logo-w.svg) no-repeat center/cover;
  }
  .header nav .header-click-wrap {
    display: none;
  }
  .sub-header,
  .sub-header.active {
    display: none;
  }
  .responsive-nav-container {
    display: flex;
  }
  .responsive-nav-body {
    display: flex;
  }
}
@media (max-width: 420px) {
  .header {
    height: 45px;
    background: #E60012;
  }
  .header nav {
    justify-content: center;
  }
  .header nav .logo {
    width: 106px;
    height: 26px;
    background: url(../images/common/header-logo-w.svg) no-repeat center/cover;
  }
  .header nav .header-click-wrap {
    display: none;
  }
  .sub-header,
  .sub-header.active {
    display: none;
  }
  .responsive-nav-body {
    bottom: 50px;
    height: 50px;
    gap: 20px;
  }
  .responsive-nav-body button,
  .responsive-nav-body a {
    width: 33px;
    height: 25px;
  }
  .responsive-nav-body .r-nav-left-wrap {
    gap: 20px;
  }
  .responsive-nav-body .r-nav-center-search {
    min-width: 60px;
    min-height: 60px;
    font-size: 24px;
    transform: translateY(-12px);
  }
  .responsive-nav-body .r-nav-right-wrap {
    gap: 20px;
  }
  .responsive-nav-container {
    display: flex;
    width: 75%;
    bottom: calc(50px + 50px);
    max-height: calc(100dvh - 45px - (50px + 50px));
  }
  .responsive-nav-container .r-nav-container-header {
    height: 32px;
  }
  .responsive-nav-container .r-nav-container-header .r-nav-container-logo {
    width: 73px;
    height: 20px;
  }
  .responsive-nav-container .r-nav-container-header .r-nav-container-close {
    width: 16px;
    height: 16px;
    font-size: 10px;
  }
  .responsive-nav-container .r-nav-container-body .r-nav-tab-wrap {
    width: 80px;
  }
  .responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn {
    height: 70px;
  }
  .responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn p {
    font-size: 12px;
  }
  .responsive-nav-container .r-nav-container-body .r-nav-tab-wrap .r-nav-tab-btn .r-nav-tab-btn-icon {
    width: 33px;
    height: 31px;
  }
  .responsive-nav-container .r-nav-container-body .r-nav-content-wrap .r-nav-lnb-wrap li .r-nav-lnb {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding-left: 10px;
  }
  .responsive-nav-container .r-nav-container-body .r-nav-content-wrap .r-nav-lnb-wrap li .r-nav-lnb .r-nav-lnb-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
  .responsive-nav-container .r-nav-container-body .r-nav-content-wrap .r-nav-lnb-wrap li .r-nav-lnb .r-nav-lnb-text {
    font-size: 16px;
  }
}
.footer {
  width: 100%;
  height: 300px;
  background: #37415C;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  font-family: "Suit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-content {
  width: 1300px;
  margin: auto;
}
@media (max-width: 1024px) {
  .footer .footer-content {
    width: 90%;
  }
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .footer-content .footer-top-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-content .footer-top-icon .footer-top-sns ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .footer-content .footer-top-icon .footer-top-sns ul li a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.footer .footer-content .footer-top-icon .footer-top-sns ul li a:hover {
  transform: translateY(-3px);
}
.footer .footer-content .footer-top-icon .footer-top-sns ul li .footer-icon-youtube {
  background: url(../images/common/footer-sns-icon-youtube.png) no-repeat center/cover;
}
.footer .footer-content .footer-top-icon .footer-top-sns ul li .footer-icon-kakaostroy {
  background: url(../images/common/footer-sns-icon-kakaos.png) no-repeat center/cover;
}
.footer .footer-content .footer-top-icon .footer-top-sns ul li .footer-icon-facebook {
  background: url(../images/common/footer-sns-icon-facebook.png) no-repeat center/cover;
}
.footer .footer-content .footer-top-icon .footer-top-sns ul li .footer-icon-x {
  background: url(../images/common/footer-sns-icon-x.png) no-repeat center/cover;
}
.footer .footer-content .footer-top-icon .footer-top-sns ul li .footer-icon-kakaotalk {
  background: url(../images/common/footer-sns-icon-kakaot.png) no-repeat center/cover;
}
.footer .footer-content .footer-top-icon .footer-top-site {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .footer-content .footer-top-icon .footer-top-site .footer-icon-long {
  width: 381px;
  height: 60px;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.footer .footer-content .footer-top-icon .footer-top-site .footer-icon-long:hover {
  transform: translateY(-3px);
}
.footer .footer-content .footer-top-icon .footer-top-site .footer-icon-mynintendo {
  background: url(../images/common/footer-sns-icon-mynintendo.png) no-repeat center/cover;
}
.footer .footer-content .footer-top-icon .footer-top-site .footer-icon-amiibo {
  background: url(../images/common/footer-sns-icon-amiibo.png) no-repeat center/cover;
}
.footer .footer-content .footer-bottom-text {
  display: flex;
}
.footer .footer-content .footer-bottom-text-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-content .footer-bottom-text-left .footer-bottom-atags .footer-bottom-atag {
  font-weight: 600;
}
.footer .footer-content .footer-bottom-text-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  text-align: right;
}
.footer .footer-content .responsive-copyright {
  display: none;
}

@media (max-width: 1024px) {
  .footer {
    height: auto;
    padding: 40px;
  }
  .footer .footer-content .footer-top-icon {
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
    order: 2;
  }
  .footer .footer-content .footer-top-icon .footer-top-sns ul li a {
    width: 52px;
    height: 52px;
  }
  .footer .footer-content .footer-top-icon .footer-top-site {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .footer .footer-content .footer-top-icon .footer-top-site .footer-icon-long {
    height: 65px;
    width: 100%;
  }
  .footer .footer-content .footer-bottom-text {
    order: 1;
    flex-direction: column;
    gap: 5px;
  }
  .footer .footer-content .footer-bottom-text-left {
    gap: 5px;
  }
  .footer .footer-content .footer-bottom-text-right {
    text-align: left;
    gap: 5px;
  }
  .footer-bottom-text01 {
    display: none;
  }
  .footer-bottom-text02 {
    line-height: 1.5;
  }
  .footer-bottom-text02 .footer-line-break {
    display: block;
  }
  .responsive-copyright {
    display: block !important;
    order: 3;
  }
}
@media (max-width: 420px) {
  .footer {
    font-size: 18px;
  }
  .footer .footer-top-sns ul li a {
    width: 38px !important;
    height: 38px !important;
  }
  .footer .footer-top-site .footer-icon-long {
    height: 45px !important;
  }
  .footer-line-break-mb {
    display: block;
  }
  .responsive-copyright {
    font-size: 14px;
  }
}
/* 장바구니 버튼 */
.fixed-cart {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 100000000;
}
.fixed-cart:hover .cart-panel {
  right: 0;
  z-index: 15;
}
.fixed-cart:hover .cart-btn {
  right: -100%;
}
.fixed-cart .cart-panel {
  width: auto;
  height: 50px;
  background: #FFFFFF;
  color: #E60012;
  border: 2px solid #E60012;
  border-right: none;
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  right: -150px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: 0.15s ease;
}
.fixed-cart .cart-panel .cart-text {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}
.fixed-cart .cart-btn {
  width: 50px;
  height: 50px;
  background: #E60012;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px 0 0 10px;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.fixed-cart .cart-btn i {
  color: #FFFFFF;
}

/* 탑버튼 */
.top-btn-wrap {
  position: fixed;
  right: 40px;
  bottom: 100px;
  z-index: 100000000;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: 0.3s ease;
}
.top-btn-wrap.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.top-btn-wrap:hover .top-btn-img {
  transform: translate(-50%, -15px);
}

.top-btn-img {
  position: absolute;
  left: 50%;
  bottom: 42px;
  width: 80px;
  height: 80px;
  transform: translate(-50%, 0);
  transition: 0.25s ease;
  pointer-events: none;
  z-index: 5;
}
@media (max-width: 420px) {
  .top-btn-img {
    width: 45px;
    height: 45px;
    bottom: 20px;
  }
}

.top-btn {
  z-index: 10;
  position: relative;
}
.top-btn button {
  width: 155px;
  height: 65px;
  border-radius: 50px;
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 3px solid #E60012;
  background: #FFFFFF;
}
@media (max-width: 1024px) {
  .top-btn button {
    width: 145px;
    height: 62px;
  }
}
@media (max-width: 420px) {
  .top-btn button {
    width: 100px;
    height: 43px;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .sub-page-main-visual {
    height: 100vh;
    margin-top: 0;
  }
  .sub-page-main-visual .sub-page-mv-title-wrap {
    gap: 40px;
  }
  .sub-page-main-visual .sub-page-mv-title-wrap .sub-page-big-title .big-title-img,
  .sub-page-main-visual .sub-page-mv-title-wrap .sub-page-big-title .big-title-img-mb {
    display: none;
  }
  .sub-page-main-visual .sub-page-mv-title-wrap .sub-page-big-title .big-title-img-tablet {
    display: block;
  }
  .sub-page-main-visual .sub-page-mv-title-wrap .sub-page-big-title p {
    font-size: 40px;
  }
  .sub-page-main-visual .sub-page-scroll-btn-wrap {
    display: none;
  }
  .sub-whole-content-container {
    padding-top: 150px;
    position: relative;
    z-index: 2;
    border-radius: 80px 80px 0 0;
    transform: translateY(80px);
    transition: transform 800ms ease;
    background: #FFFFFF;
  }
  .sub-whole-content-container .sub-page-tab-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
  }
  .sub-whole-content-container .sub-page-tab-menu .sub-page-tab-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  .sub-whole-content-container .sub-page-tab-menu .sub-page-tab-btn:hover .sub-page-tab-btn-bar {
    background: #E60012;
  }
  .sub-whole-content-container .sub-page-tab-menu .sub-page-tab-btn-icon {
    width: 45px;
    height: 45px;
  }
  .sub-whole-content-container .sub-page-tab-menu .sub-page-tab-btn-text {
    font-size: 16px;
  }
  .sub-whole-content-container .sub-page-tab-menu .sub-page-tab-btn-bar {
    width: 120px;
  }
}
@media (max-width: 420px) {
  .sub-page-main-visual .sub-page-mv-title-wrap {
    gap: 15px;
  }
  .sub-page-main-visual .sub-page-mv-title-wrap .sub-page-big-title .big-title-img,
  .sub-page-main-visual .sub-page-mv-title-wrap .sub-page-big-title .big-title-img-tablet {
    display: none;
  }
  .sub-page-main-visual .sub-page-mv-title-wrap .sub-page-big-title .big-title-img-mb {
    display: block;
  }
  .sub-page-main-visual .sub-page-mv-title-wrap .sub-page-big-title p {
    font-size: 30px;
  }
  .sub-page-main-visual .sub-page-scroll-btn-wrap {
    display: none;
  }
  .sub-whole-content-container {
    padding-top: 115px;
    position: relative;
    z-index: 2;
    border-radius: 50px 50px 0 0;
    transform: translateY(80px);
    transition: transform 800ms ease;
    background: #FFFFFF;
  }
  .sub-whole-content-container .sub-page-tab-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 70px;
  }
  .sub-whole-content-container .sub-page-tab-menu .sub-page-tab-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  .sub-whole-content-container .sub-page-tab-menu .sub-page-tab-btn:hover .sub-page-tab-btn-bar {
    background: #E60012;
  }
  .sub-whole-content-container .sub-page-tab-menu .sub-page-tab-btn-icon {
    width: 45px;
    height: 45px;
  }
  .sub-whole-content-container .sub-page-tab-menu .sub-page-tab-btn-text {
    font-size: 16px;
    margin-bottom: 0;
  }
  .sub-whole-content-container .sub-page-tab-menu .sub-page-tab-btn-bar {
    width: 83px;
    height: 4px;
  }
}
/* 영상 소개 - 타블릿 */
@media (max-width: 1024px) {
  .sub-whole-content-container {
    background: url(../images/sub4/new-game-bg-tb.png) no-repeat top center, #fff;
  }
  .sub-whole-content-container .video-intro .video-new-game {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .sub-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .sub-title .en {
    font-size: 48px;
    font-weight: 600;
    font-family: "Kanit", sans-serif;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .sub-title .en {
    font-size: 40px;
  }
}
@media (max-width: 1024px) and (max-width: 420px) {
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .sub-title .en {
    font-size: 32px;
  }
}
@media (max-width: 1024px) {
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .sub-title .ko {
    font-family: "Suit", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #333333;
    width: 100%;
    text-align: center;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .video-new-game-bg .video-new-game-video {
    width: 550px;
    height: 300px;
    top: 20px;
    left: 75px;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .video-new-game-bg .video-new-game-video iframe {
    width: 100%;
    height: 100%;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .video-new-game-bg .new-game-mario {
    display: none;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .video-new-game-bg .new-game-block {
    display: none;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .video-new-game-bg .new-game-block-responsive {
    display: block;
    position: absolute;
    bottom: -140px;
    left: 0px;
    width: 180px;
  }
  .sub-whole-content-container .video-intro .video-now-playing {
    padding: 100px 0;
  }
  .sub-whole-content-container .video-intro .video-now-playing .second-swiper {
    margin-top: 10px;
  }
  .sub-whole-content-container .video-intro .video-now-playing .sub-title {
    gap: 20px;
  }
  .sub-whole-content-container .video-intro .video-now-playing .sub-title .ko {
    font-family: "Suit", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #333333;
  }
  .sub-whole-content-container .video-intro .video-now-playing .now-playing-ch {
    display: none;
  }
  .sub-whole-content-container .video-intro .video-now-playing .now-playing-video-box {
    width: 90%;
    height: 370px;
  }
  .sub-whole-content-container .video-intro .video-now-playing .now-playing-video-box iframe {
    width: 100%;
    height: 100%;
  }
  .sub-whole-content-container .video-intro .video-now-playing .now-playing-video-box .now-playing-block {
    width: 60px;
    height: 60px;
  }
  .sub-whole-content-container .video-intro .video-now-playing .now-playing-video-box .now-playing-block img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sub-whole-content-container .video-intro .video-now-playing .now-playing-video-box .now-playing-block:first-of-type {
    top: 200px;
    left: -40px;
  }
  .sub-whole-content-container .video-intro .video-now-playing .now-playing-video-box .now-playing-block:last-of-type {
    top: 50px;
    right: -40px;
  }
  .sub-whole-content-container .video-intro .video-review {
    width: 100%;
    padding: 100px 0 200px 0;
    background: url(../images/sub4/review-bg-tb.png) no-repeat bottom center;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap {
    width: 90%;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap .review-card {
    height: 220px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap .review-card:hover {
    width: 400px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:nth-child(1):hover) .review-card:nth-child(1) {
    flex: 0 0 400px;
    border-radius: 0 20px 20px 20px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:nth-child(1):hover) .review-card:nth-child(2) {
    flex: 0 0 264px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:nth-child(2):hover) .review-card:nth-child(2) {
    flex: 0 0 400px;
    border-radius: 20px 0px 20px 20px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:nth-child(2):hover) .review-card:nth-child(1) {
    flex: 0 0 264px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:nth-child(3):hover) .review-card:nth-child(3) {
    flex: 0 0 400px;
    border-radius: 0 20px 20px 20px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:nth-child(3):hover) .review-card:nth-child(4) {
    flex: 0 0 264px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:nth-child(4):hover) .review-card:nth-child(4) {
    flex: 0 0 400px;
    border-radius: 20px 0px 20px 20px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:nth-child(4):hover) .review-card:nth-child(3) {
    flex: 0 0 264px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:nth-child(5):hover) .review-card:nth-child(5) {
    flex: 0 0 400px;
    border-radius: 0 20px 20px 20px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:nth-child(5):hover) .review-card:nth-child(6) {
    flex: 0 0 264px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:nth-child(6):hover) .review-card:nth-child(6) {
    flex: 0 0 400px;
    border-radius: 20px 0px 20px 20px;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:nth-child(6):hover) .review-card:nth-child(5) {
    flex: 0 0 264px;
  }
}
/* 영상 소개 - 모바일 */
@media (max-width: 420px) {
  .sub-whole-content-container {
    background: url(../images/sub4/new-game-bg-mb.png) no-repeat top center, #fff;
  }
  .sub-whole-content-container .video-intro .video-new-game {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 140px;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .sub-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 5px;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .sub-title .en {
    font-size: 48px;
    font-weight: 600;
    font-family: "Kanit", sans-serif;
  }
}
@media (max-width: 420px) and (max-width: 1024px) {
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .sub-title .en {
    font-size: 40px;
  }
}
@media (max-width: 420px) and (max-width: 420px) {
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .sub-title .en {
    font-size: 32px;
  }
}
@media (max-width: 420px) {
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .sub-title .ko {
    font-family: "Suit", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: #333333;
    width: 100%;
    text-align: center;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .video-new-game-bg {
    position: static;
    display: flex;
    justify-content: center;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .video-new-game-bg img {
    display: none;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .video-new-game-bg .video-new-game-video {
    position: static;
    width: 360px;
    height: 210px;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .video-new-game-bg .video-new-game-video iframe {
    width: 100%;
    height: 100%;
  }
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .video-new-game-bg .new-game-mario,
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .video-new-game-bg .new-game-block,
  .sub-whole-content-container .video-intro .video-new-game .video-new-game-wrap .video-new-game-bg .new-game-block-responsive {
    display: none;
  }
  .sub-whole-content-container .video-intro .video-now-playing {
    padding: 70px 0;
  }
  .sub-whole-content-container .video-intro .video-now-playing .second-swiper {
    margin-top: 5px;
  }
  .sub-whole-content-container .video-intro .video-now-playing .sub-title {
    gap: 5px;
    padding-bottom: 20px;
  }
  .sub-whole-content-container .video-intro .video-now-playing .sub-title .ko {
    font-family: "Suit", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: #333333;
  }
  .sub-whole-content-container .video-intro .video-now-playing .now-playing-ch {
    display: none;
  }
  .sub-whole-content-container .video-intro .video-now-playing .now-playing-video-box {
    width: 90%;
    height: 210px;
    margin: 0 auto 20px;
  }
  .sub-whole-content-container .video-intro .video-now-playing .now-playing-video-box ㄴ iframe {
    width: 100%;
    height: 100%;
  }
  .sub-whole-content-container .video-intro .video-now-playing .now-playing-video-box .now-playing-block {
    display: none;
  }
  .sub-whole-content-container .video-intro .video-review {
    width: 100%;
    padding: 70px 0 140px 0;
    background: url(../images/sub4/review-bg-mb.png) no-repeat bottom center;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap {
    width: 90%;
    flex-direction: column;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap .review-card {
    flex: 1 !important;
    height: 200px !important;
    border-radius: 0 15px 15px 15px !important;
    /* hover 무효화: 모바일에서는 hover 상태가 없어도 원래 값 유지 */
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap .review-card:hover {
    flex: 1 !important;
    height: 200px !important;
    border-radius: 0 15px 15px 15px !important;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap .review-card .review-card-img {
    width: 100%;
    height: auto;
    /* 부모 비율 유지 */
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap .review-card .review-card-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    /* 이미지 비율 깨짐 방지 */
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap .review-card::after {
    display: none;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap .review-card .more-btn {
    display: none;
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap {
    /* :has()로 적용되는 hover 스타일도 모바일에서는 무시 */
  }
  .sub-whole-content-container .video-intro .video-review .video-review-wrap:has(.review-card:hover) .review-card {
    flex: 1 !important;
    height: 200px !important;
    border-radius: 0 15px 15px 15px !important;
  }
}