@import 'variables', 'mixins', 'reset', 'fonts', 'header', 'footer', 'common';

// 메인비주얼
@media (max-width: $bp-tablet) {
  .sub-page-main-visual {
    height: 100vh;
    margin-top: 0;

    .sub-page-mv-title-wrap {
      gap: $sp-40;

      .sub-page-big-title {

        .big-title-img,
        .big-title-img-mb {
          display: none;
        }

        .big-title-img-tablet {
          display: block;
        }

        p {
          font-size: $fs-40;
        }
      }
    }

    .sub-page-scroll-btn-wrap {
      display: none;
    }
  }

  // 콘텐츠 올라오는 거
  .sub-whole-content-container {
    // 헤더 길이만큼 + 간격 너비만큼
    padding-top: 150px;
    position: relative;
    z-index: 2;
    border-radius: 80px 80px 0 0;
    transform: translateY(80px);
    transition: transform 800ms ease;
    background: $c-white;

    .sub-page-tab-menu {
      @include flex-center;
      gap: $sp-50;
      margin-bottom: 100px;

      .sub-page-tab-btn {
        @include flex-center;
        flex-direction: column;
        gap: 15px;

        &:hover .sub-page-tab-btn-bar {
          background: $c-main;
        }

        &-icon {
          width: 45px;
          height: 45px;
        }

        &-text {
          font-size: $fs-16;
        }

        &-bar {
          width: 120px;
        }
      }
    }
  }
}

@media (max-width: $bp-mobile) {
  .sub-page-main-visual {
    .sub-page-mv-title-wrap {
      gap: $sp-15;

      .sub-page-big-title {

        .big-title-img,
        .big-title-img-tablet {
          display: none;
        }

        .big-title-img-mb {
          display: block;
        }

        p {
          font-size: 30px;
        }
      }
    }

    .sub-page-scroll-btn-wrap {
      display: none;
    }
  }

  // 콘텐츠 올라오는 거
  .sub-whole-content-container {
    // 헤더 길이만큼 + 간격 너비만큼
    padding-top: 115px;
    position: relative;
    z-index: 2;
    border-radius: 50px 50px 0 0;
    transform: translateY(80px);
    transition: transform 800ms ease;
    background: $c-white;

    .sub-page-tab-menu {
      @include flex-center;
      gap: $sp-10;
      margin-bottom: 70px;

      .sub-page-tab-btn {
        @include flex-center;
        flex-direction: column;
        gap: 15px;

        &:hover .sub-page-tab-btn-bar {
          background: $c-main;
        }

        &-icon {
          width: 45px;
          height: 45px;
        }

        &-text {
          font-size: $fs-16;
          margin-bottom: 0;
        }

        &-bar {
          width: 83px;
          height: 4px;
        }
      }
    }
  }
}

// 수리지원
@media (max-width: $bp-tablet) {
  .sub6-repair-page-content {
    .repair-support-container {

      // 스텝 순서 
      .steps {
        .steps-list {
          height: 350px;

          .steps-item {

            /* 곡선 따라 높낮이 미세조정 */
            &:nth-child(1) {
              transform: translateY(0);
            }

            &:nth-child(2) {
              transform: translateY(5px);
            }

            &:nth-child(3) {
              transform: translateY(40px);
            }

            &:nth-child(4) {
              transform: translateY(35px);
            }

            .steps-marker {
              width: 120px;
              height: 155px;

              .steps-marker-circle {
                width: 95px;
                height: 95px;
              }
            }

            .steps-text {
              .steps-title {
                font-size: $fs-16;
              }

              .steps-desc {
                font-size: $fs-16;
              }
            }
          }
        }

        .steps-road {
          height: 160px;
          background-size: contain;
        }

        .steps-mario {
          width: 35px;
          left: 23%;
          bottom: 110px;
        }
      }


      // 스텝 
      .repair-step-section {
        margin: 150px 0;

        .repair-step-header {
          margin-bottom: 80px;

          .repair-step-title {
            font-size: $fs-40;
          }

          .repair-step-subtitle {
            font-size: $fs-32;
          }
        }

        // 카드영역
        .repair-step-card-wrap {
          flex-direction: column;
          align-items: center;
          margin-bottom: $sp-30;

          .repair-step-card {
            width: 100%;

            .repair-step-card-top {
              gap: $sp-20;
              height: 300px;
              padding: 20px;

              .repair-step-card-desc {
                @include text($fs-22, $fw-semi-b, $c-black);
                width: auto;
              }
            }

            /* 카드 하단 */
            .repair-step-card-bottom {
              font-size: $fs-22;
              font-weight: $fw-semi-b;
            }
          }
        }

        /* 하단 안내 */
        .repair-step-notice {

          .repair-step-process {
            gap: $sp-15;
            margin-top: $sp-10;

            .repair-step-process-item {
              &::before {
                height: 25px;
              }
            }
          }
        }
      }

      .repair-step-section.step03 {
        .flowchart-img {
          background-size: contain;
          background-repeat: no-repeat;
          height: 600px;
        }
      }

      // 온라인 수리 접수 신청 배너
      .repair-support-banner {
        background-size: contain;
        background-image: url("../images/sub6-2/banner-tablet.png");
        padding: 0 45px;
        position: relative;

        .repair-support-banner-left {
          .repair-apply-banner-desc {
            font-size: $fs-36;

            strong {
              font-size: $fs-40;
            }
          }

          .repair-support-banner-links {
            gap: 20px;
            margin-top: 50px;

            li {
              .support-banner-arrow-icon {
                font-size: $fs-20;
                width: 20px;
                height: 20px;
              }

              a {
                font-size: $fs-20;
              }
            }
          }
        }

        .repair-apply-banner-figure {
          display: none;
        }
      }

      // 안내 문구
      .repair-support-notice {
        margin-top: 30px;
        height: 60px;

        .repair-support-notice-icon {
          width: 30px;
          height: 30px;
        }

        .repair-support-notice-desc {
          font-size: $fs-16;
          font-weight: $fw-md;
        }
      }

      .repair-support-prev-btn {
        margin: 50px auto 100px auto;
      }
    }
  }
}

@media (max-width: $bp-mobile) {
  .sub6-repair-page-content {
    .repair-support-container {

      // 스텝 순서 
      .steps {
        .steps-header {
          margin-bottom: 45px;

          .steps-title {
            font-size: $fs-32;
          }

          .steps-sub-title {
            font-size: $fs-24;
          }
        }

        // 스텝리스트
        .steps-list {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 820px;

          .steps-item {

            /* 곡선 따라 높낮이 미세조정 */
            &:nth-child(1) {
              transform: translateY(0) translateX(60px);
            }

            &:nth-child(2) {
              transform: translateY(0) translateX(-60px);
            }

            &:nth-child(3) {
              transform: translateY(0) translateX(60px);
            }

            &:nth-child(4) {
              transform: translateY(0) translateX(-60px);
            }

            .steps-text {
              margin-bottom: $sp-20;

              .steps-title {
                font-weight: $fw-semi-b;
                font-size: $fs-18;
              }

              .steps-desc {
                font-weight: $fw-semi-b;
                font-size: $fs-18;
              }
            }

            /* 마커 */
            .steps-marker {
              width: 80px;
              height: 101px;

              .steps-marker-circle {
                width: 60px;
                height: 60px;
                top: 10px;

                img {
                  width: 30px;
                  height: 30px;
                }
              }
            }

          }
        }

        /* 회색 길 */
        .steps-road {
          display: none;
        }

        /* 마리오 */
        .steps-mario {
          display: none;
        }
      }

      // 스텝 공통 타이틀
      .repair-step-section {
        margin: 140px 0;

        .repair-step-header {
          margin-bottom: 45px;

          .repair-step-title {
            font-size: $fs-32;
          }

          .repair-step-subtitle {
            font-size: $fs-24;
          }
        }

        .repair-step-notice {
          margin-top: $sp-30;

          .repair-step-notice-title {
            font-size: $fs-18;
            font-weight: $fw-semi-b;
          }

          .repair-step-notice-list {
            .repair-step-notice-text {
              font-size: $fs-18;
            }

            .repair-step-notice-item {
              font-size: $fs-18;
            }
          }
        }
      }

      // 스텝1,2,4
      .repair-step-section.step01,
      .repair-step-section.step02,
      .repair-step-section.step04 {

        /* 카드 영역 */
        .repair-step-card-wrap {
          gap: $sp-15;

          .repair-step-card {
            height: 250px;

            // 카드상단
            .repair-step-card-top {
              padding: 20px;

              .repair-step-card-icon {
                width: 60px;
                height: 60px;
              }

              .repair-step-card-desc {
                @include text($fs-18, $fw-semi-b, $c-black);
              }
            }

            // 카드 하단
            .repair-step-card-bottom {
              height: 50px;

              .repair-step-number {
                font-size: $fs-20;
                width: 28px;
                height: 28px;
              }

              .repair-step-label {
                font-size: $fs-20;
              }
            }
          }
        }
      }

      // 스텝1
      .repair-step-section.step01 {
        .repair-step-process {
          gap: $sp-5;
          margin-top: $sp-10;

          .repair-step-process-item {
            font-size: $fs-18;

            &::before {
              height: 20px;
            }
          }
        }
      }


      // 스텝3
      .repair-step-section.step03 {

        .flowchart-img {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 3px;
          background-image: url(../images/sub6-2/step03-flowchart-mobile.png);
        }
      }

      // 배너
      .repair-support-banner {
        padding: 0 20px;
        height: 188px;
        margin: $sp-140 0 0 0;

        .repair-support-banner-left {
          .repair-apply-banner-desc {
            font-size: $fs-18;
            font-weight: $fw-extra-b;

            strong {
              font-size: $fs-18;
              font-weight: 900;
            }
          }

          .repair-support-banner-links {
            margin-top: 20px;
            flex-direction: column;

            li {
              a {
                font-size: $fs-18;
                font-weight: $fw-semi-b;
              }
            }
          }
        }

        .repair-apply-banner-figure {
          display: none;
        }
      }

      // 추가안내
      .repair-support-notice.step04 {
        height: 160px;
        margin-top: $sp-15;
        padding: $sp-20;
        flex-direction: column;

        .repair-support-notice-icon {
          width: 40px;
          height: 40px;
        }

        .repair-support-notice-desc {
          font-size: $fs-18;
        }
      }

      // prev 버튼
      .repair-support-prev-btn {
        width: 100px;
        height: 45px;
        font-size: $fs-18;
        font-weight: $fw-b;
        border-radius: $r-2xl;
        background: $c-white;
        color: $c-main;
        border: 3px solid $c-main;
        z-index: 1;
        margin: 70px auto 70px auto;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: -140px;
          top: 0;
          background: $c-main;
          transition: $tr-s;
          z-index: -1;
        }

        &:hover::before {
          left: 0;
        }
      }
    }
  }
}

// 푸터
@media (max-width: $bp-tablet) {
  .footer {
    height: auto;
    padding: $sp-40;

    .footer-content {
      .footer-top-icon {
        gap: $sp-30;
        flex-direction: column;
        align-items: flex-start;
        order: 2;

        .footer-top-sns {
          ul {
            li {
              a {
                width: 52px;
                height: 52px;
              }
            }
          }
        }

        .footer-top-site {
          flex-direction: column;
          gap: $sp-10;
          width: 100%;

          .footer-icon-long {
            height: 65px;
            width: 100%;
          }
        }
      }

      .footer-bottom-text {
        order: 1;
        flex-direction: column;
        gap: $sp-5;

        &-left {
          gap: $sp-5;
        }

        &-right {
          text-align: left;
          gap: $sp-5;
        }
      }
    }
  }

  .footer-bottom-text01 {
    display: none;
  }

  .footer-bottom-text02 {
    line-height: $lh-text;

    .footer-line-break {
      display: block;
    }
  }

  .responsive-copyright {
    display: block !important;
    order: 3;
  }
}

@media (max-width: $bp-mobile) {
  .footer {
    font-size: $fs-18;

    .footer-top-sns {
      ul {
        li {
          a {
            width: 38px !important;
            height: 38px !important;
          }
        }
      }
    }

    .footer-top-site {
      .footer-icon-long {
        height: 45px !important;
      }
    }
  }

  .footer-line-break-mb {
    display: block;
  }

  .responsive-copyright {
    font-size: $fs-14;
  }
}